#div.fixed {
  color: #800080; !important
  display:inline; !important
}

#div#div.added {
  color: #008000; !important
  display:inline; !important
}

#div.removed {
  
  display:inline; !important
}
